<!DOCTYPE html>
<html style="height:100%;width:100%">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale:1">
    <title>Simple Group Chat on Node.js</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body {
          font: 13px Helvetica, Arial;
          height: 100%;
          width: 100%;
          background: #bbaa74;
          background-image: url("wp.jpg");
          }
        form { background: #fff; padding: 3px; position: fixed; bottom: 0; width: 100%; border-color: #000; border-top-style: solid; border-top-width: 1px;}
        form input { border-style: solid; border-width: 1px; padding: 10px; width: 85%; margin-right: .5%; }
        form button { width: 9%; background: rgb(171, 135, 255); border: none; padding: 10px; margin-left: 2%; }
        #messages p { padding: .8em 1em; }
        .speech-bubble {
              margin-top: 10px;
              display: inline-block;
              float: left;
              position: relative;
              background: #c2b3f9;
              border-radius: .4em;
              box-shadow: 1px 1px 10px grey;
              clear: both;
        }

        .speech-bubble:after {
              content: '';
              position: absolute;
              right: 0;
              top: 50%;
              width: 0;
              height: 0;
              border: 7px solid transparent;
              border-left-color: #c2b3f9;
              border-right: 0;
              margin-top: 0px;
              margin-right: -6px;
        }
        .myself-user-bubble {
              float: right;
              clear: both;
              margin-right:7px;
              margin-top: 10px;
              position: relative;
              background: #ffffff;
              border-radius: .4em;
              
        }
        .myself-user-bubble:after {
              content: '';
              position: absolute;
              right: 0;
              top: 50%;
              width: 0;
              height: 0;
              border: 7px solid transparent;
              border-left-color: #ffffff;
              border-right: 0;
              margin-top: 0px;
              margin-right: -6px;
        }

        #messages {
          padding: 1rem;
        }

    </style>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>
  <body >
    <div id="messages" ></div>
    <form action="/" method="POST" id="chatForm">
      <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="type your message here..." /><button>Send</button>
    </form>
    <script>
            var socket = io.connect('http://localhost:9393');
            var myselfUserName;
            // submit text message without reload/refresh the page
            $('form').submit(function(e){
                e.preventDefault(); // prevents page reloading
                const txt = $('#txt');
                const userInput = txt.val();
                if (userInput !== "") {
                  socket.emit('chat_message', userInput);
                  txt.val('');
                }
                return false;
            });
            // append the chat text message
            socket.on('chat_message', function(messageFromServer){
              let classes = "";
              if (messageFromServer.username == myselfUserName) {
                classes = "myself-user-bubble";
              }
              $('#messages').append($("<p class='speech-bubble " + classes + "'>").html(messageFromServer.message));
            });
            // append text if someone is online
            socket.on('is_online', function(username) {
                $('#messages').append($('<p class="speech-bubble">').html(username));
            });
            // ask username
            myselfUserName = prompt('Please tell me your name');
            socket.emit('username', myselfUserName);
    </script>
  </body>
</html>